.contactContainer {
  padding: 10px 20px 50px;
  line-height: 2;
}
.contactContainer > h1 {
  color: #032b44;
}
.contactContainer > a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: orange;
  font-weight: bold;
}
