.first-header {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.344);
  margin: -10px;
  padding: 20px 10px;
}

.first-header > h1 > span {
  letter-spacing: 0.2em;
}

.second-header {
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  gap: 2px;
  padding: 20px;
}

.gridContainer > div {
  background-color: rgba(128, 128, 128, 0.185);
  padding: 10px 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.gridContainer > div:hover {
  font-size: 17px;
}

.gridContainer > div > h3 {
  color: #032b44;
}

.iconsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
}
.icons {
  font-size: 100px;
  margin-right: 50px;
}

.third-header > .profilePic {
  text-align: center;
}

.third-header > .profilePic > img {
  width: 350px;
  height: 300px;
  border-radius: 100%;
}

.library {
  background-color: rgba(128, 128, 128, 0.132);
  padding: 10px 15px 50px;
  text-align: center;
}
.library > h2 {
  color: #032b44;
}

@media screen and (max-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-columns: auto;
  }
  .iconsContainer {
    display: grid;
    grid-template-columns: auto auto;
  }
}
