.first-header {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.344);
  padding: 20px 10px;
}

.first-header > h1 > span {
  letter-spacing: 0.2em;
}

.second-header {
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  
  gap: 10px;
  padding: 20px;
}

.gridContainer > div {
  background-color: rgba(128, 128, 128, 0.185);
  padding: 10px 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  line-height: 2;
}

.gridContainer > div:hover {
  transform: scale(1.02)
}

.gridContainer > div > h3 {
  color: #032b44;
}

.iconsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
}
.icons {
  font-size: 100px;
  margin-right: 50px;
}

.third-header > .profilePic {
  text-align: center;
}

.third-header > .profilePic > img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border:8px solid #032b44 ;
}

.library {
  background-color: rgba(128, 128, 128, 0.132);
  padding: 10px 15px 50px;
  text-align: center;
}
.library > h2 {
  color: #032b44;
}

@media screen and (max-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-columns: auto;
    gap:10px
  }
  .iconsContainer {
    display: grid;
    grid-template-columns: auto auto;
  }
  .second-header {
    padding:10px 20px
  }
  .third-header > .profilePic > img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin:10px;
  }
  .first-header > h1{
   height:110px;
  margin-bottom: 0;
}
  .first-header > p {
    margin-top: 0px;
  }

}