.app {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Barlow", sans-serif;
}

.NavContainer {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.NavDesign {
  background-color: #032b44;
  width: 250px;
  height: 100%;
  right: -250px;
  position: fixed;
  padding: 0;
  transition: transform 0.3s ease-in-out;
}

.NavDesign.open {
  transform: translateX(-250px);
}

.NavDesign.close {
  transform: translateX(10px);
}

.NavDesign > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavDesign li {
  margin-top:2em
}

.NavDesign a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px 0 10px 0;
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

.NavDesign a:hover {
  background-color: rgba(128, 128, 128, 0.185);
  font-size: 25px;
}

.headDiv {
  background-color: #032b44;
  color: white;
  position: relative;
  padding: 20px 10px 0px ;
  z-index: 1000;
  margin: 0;
}
.headDiv > .isVisibleBtn {
  position: absolute;
  right: 0;
  z-index: 2000;
  top: 20px;
  font-size: 25px;
  background-color: transparent;
  color: white;
  border: none;
}
.headDiv > .LinkContainer > a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-right: 20px;
  margin-bottom:0;
  padding: 0px;
}
@media screen and (max-width: 768px) {
  .NavDesign {
    width: 500px;
    right: -768px;
  }

  .NavDesign.open {
    transform: translateX(-768px);
  }

  .NavDesign a {
   width: 550px
  }
  

}