.projectContainer {
  background-color: rgb(248, 245, 245);
  margin: 0;
  padding: 10px 20px;
  line-height: 2;
  background-image: linear-gradient(to bottom,#74D8FF, white);
}
.projectContainer > h1 {
  color: #032b44;
}
.projects {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.185);
  padding:10px 10px;
}
.projects > h3 {
  color: #032b44;
}
.projects > img {
  width: 80%;
}
